.header {
  z-index: 50;
  &__container {
    width: 100%;
    margin: 20px 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:
      1fr minmax(auto, 300px) minmax(auto, 800px) minmax(auto, 300px)
      1fr;
    align-items: center;
    gap: 15px;
  }

  &__logo {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: block;
    font-size: 40px;
    font-weight: 600;
    color: var(--color-brown);
    justify-self: left;
  }

  &__menu {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  &__list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, auto);
    gap: 15px;
    justify-items: end;
  }

  &__link {
    display: block;
    font-size: 20px;
    font-weight: 500;
    transition: transform 500ms;
    color: var(--color-brown);

    &:hover {
      text-decoration: underline;
      transform: scale(120%);
      transition: transform 500ms;
    }
  }
  &__burger {
  }

  &__contacts {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    justify-self: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__phone {
    justify-self: right;
    font-size: 24px;
    font-weight: 600;
    color: var(--color-brown);
    padding: 0 0 10px;

    &:hover {
      text-decoration: underline;
    }
  }
  &__worktime {
    font-size: 16px;
    line-height: 150%;
  }
}

.burger {
  display: none;

  &__bar {
  }
}

@media (max-width: 990px) {
  .header {
    grid-template-rows: 1fr;
    grid-template-columns:
      1fr minmax(auto, 200px) minmax(auto, 590px) minmax(auto, 200px)
      1fr;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    background-color: rgba(228, 219, 188, 0.9);
    &__container {
      margin: 0;
    }

    &__logo {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      font-size: 24px;
      z-index: 2;
    }

    &__menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 50%;
      padding: 150px;
      background-color: rgba(188, 80, 168, 0.9);
      overflow: auto;
      transition: 500ms;
      &.active {
        top: 0;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }

    &__link {
      font-size: 40px;
      line-height: 150%;
      &:hover {
        transform: none;
      }
    }

    &__burger {
      grid-row: 1 / 2;
      grid-column: 4 / 5;
      z-index: 2;
    }

    &__contacts {
      grid-row: 1 / 2;
      grid-column: 3 / 4;
      padding: 10px 0 10px;
      z-index: 2;
      justify-self: center;
    }

    &__phone {
      font-size: 18px;
    }

    &__worktime {
      font-size: 12px;
    }
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-self: right;
    gap: 6px;
    cursor: pointer;

    &.active {
      & .burger__bar:first-child {
        transform: translateY(9px) rotate(45deg);
      }
      & .burger__bar:last-child {
        transform: translateY(-9px) rotate(-45deg);
      }
      & .burger__bar:nth-child(2) {
        transform: scale(0);
      }
    }

    &__bar {
      display: block;
      width: 30px;
      height: 3px;
      background-color: var(--color-brown);
      transition: 500ms;
    }
  }
}

@media (max-width: 499px) {
  .header {
    &__logo {
      font-size: 20px;
    }

    &__menu {
    }

    &__list {
    }

    &__link {
      font-size: 32px;
    }

    &__contacts {
    }

    &__phone {
      font-size: 14px;
    }

    &__worktime {
      font-size: 10px;
    }
  }
}

@media (max-width: 420px) {
  .header {
    &__logo {
      font-size: 20px;
    }

    &__menu {
    }

    &__list {
    }

    &__link {
    }

    &__contacts {
    }

    &__phone {
      font-size: 10px;
    }

    &__worktime {
      font-size: 8px;
    }
  }
}
