.header-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 0 30px 0;
  &__title {
    font-size: 38px;
    font-weight: 500;
    line-height: 150%;
    padding: 0 0 10px;
  }
  &__text {
    font-size: 24px;
    line-height: 150%;
  }
}
@media (max-width: 990px) {
  .header-block {
    padding: 0 0 10px 0;
    &__title {
      font-size: 28px;
    }
    &__text {
      font-size: 18px;
    }
  }
}
