.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  padding: 50px 0;
  // background-color: var(--color-brown);
  // opacity: 20%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns:
    1fr minmax(auto, 300px) minmax(auto, 800px) minmax(auto, 300px)
    1fr;
  align-items: center;
  gap: 15px;

  &__logo {
    grid-column: 2 / 3;
    font-size: 40px;
    font-weight: 600;
    color: var(--color-brown);
    justify-self: left;
  }

  &__menu {
    grid-column: 3 / 4;
  }

  &__list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, auto);
    gap: 15px;
    justify-items: end;
  }

  &__link {
    display: block;
    font-size: 20px;
    font-weight: 500;
    transition: transform 500ms;
    color: var(--color-brown);

    &:hover {
      text-decoration: underline;
      transform: scale(120%);
      transition: transform 500ms;
    }
  }
  &__burger {
  }

  &__contacts {
    grid-column: 4 / 5;
    justify-self: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__phone {
    justify-self: right;
    font-size: 24px;
    font-weight: 600;
    color: var(--color-brown);
    padding: 0 0 10px;

    &:hover {
      text-decoration: underline;
    }
  }
  &__worktime {
  }
}

@media (max-width: 990px) {
  .header {
    padding: 20px 0;
    &__logo {
      font-size: 24px;
    }

    &__menu {
    }

    &__list {
      display: none;
    }

    &__link {
    }

    &__burger {
      grid-column: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
      & span {
        display: block;
        width: 50px;
        height: 50px;
        background-color: var(--color-brown);
        border-radius: 50%;
      }
    }

    &__contacts {
    }

    &__phone {
      font-size: 18px;
    }

    &__worktime {
      font-size: 12px;
    }
  }
}

@media (max-width: 520px) {
  .header {
    &__logo {
      font-size: 20px;
    }

    &__menu {
    }

    &__list {
    }

    &__link {
    }

    &__contacts {
    }

    &__phone {
      font-size: 14px;
    }

    &__worktime {
      font-size: 10px;
    }
  }
}

@media (max-width: 440px) {
  .header {
    &__logo {
      font-size: 20px;
    }

    &__menu {
    }

    &__list {
    }

    &__link {
    }

    &__contacts {
    }

    &__phone {
      font-size: 10px;
    }

    &__worktime {
      font-size: 8px;
    }
  }
}

