.main {
  position: relative;
  margin-top: -120px;
  justify-items: end;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 200px 0 300px 0;
    padding: 15px;
    max-width: 450px;
    z-index: 2;
    box-shadow: 0px 10px 15px 0px rgba(76, 51, 32, 0.9);
  }

  &__title {
    display: block;
    font-size: 62px;
    line-height: 150%;
    font-weight: 700;
    padding: 0 0 30px 0;
  }

  &__text {
    display: block;
    font-size: 24px;
    line-height: 150%;
    color: var(--color-brown);
  }

  &__picture {
    // display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    & img {
      object-position: left;
    }
  }
}
@media (max-width: 1200px) {
  .main {
    justify-items: center;
    &__container {
      margin: 200px auto;
    }
  }
}
@media (max-width: 1000px) {
  .main {
  }
}

@media (max-width: 496px) {
  .main {
    &__container {
      background-color: rgba(255, 255, 255, 0.6);
    }
    &__title {
      font-size: 42px;
      padding: 0 0 10px 0;
    }

    &__text {
      font-size: 18px;
    }
  }
}
