.price {
  background-color: rgb(250, 250, 250);
  padding: 50px 0;
  &_container {
  }

  &__header {
  }
  &__row {
    display: flex;
    gap: 15px;
  }
  &__column {
    display: flex;
    flex: 1;

    // flex-direction: column;
    // justify-content: space-between;
    // gap: 20px;
    // margin: 0 -20px -20px;
  }

  &__item {
    // margin: 0 20px 20px;
  }
}

.item-price {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: var(--shadow);

  &__container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 30px;
  }

  &__label {
    color: var(--color-brown);
    font-size: 22px;
    &:hover {
      text-decoration: underline;
    }
  }

  &__text {
    font-size: 28px;
  }

  &__image {
    padding: 0 0 60% 0;
    filter: sepia(80%);
    transition: filter 500ms;
    &:hover {
      filter: none;
      transition: filter 500ms;
    }
  }
}

@media (max-width: 990px) {
  .price {
    scroll-margin-top: 70px;
    &__row {
      flex-wrap: wrap;
      gap: 0;
    }
    &__column {
      padding: 0 10px 20px;
      flex: 0 1 50%;
    }
    &__item {
    }
  }
  .item-price {
    &__container {
      gap: 10px;
    }
  }
}

@media (max-width: 760px) {
  .price {
    &__column {
      flex: 0 1 100%;
    }
  }
  .item-price {
    &__container {
    }
  }
}

@media (max-width: 499px) {
  .price {
    scroll-margin-top: 20px;
  }
}
