.footer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr minmax(auto, 1400px) 1fr;
  gap: 15px;
  background-image: linear-gradient(var(--color-gold), var(--color-orange));

  &__container {
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  &__copy {
    font-size: 18px;
    color: var(--color-brown);
    padding: 10px;
  }

  &__social {
    display: flex;
    gap: 20px;
    padding: 10px;
  }

  &__link {
    color: var(--color-brown);
    &:hover {
      text-decoration: underline;
    }
  }
  &__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    filter: sepia(60%);
    transition: filter 300ms;
    &:hover {
      filter: none;
      transition: filter 300ms;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    &__container {
      // flex-direction: column-reverse;
      gap: 0;
    }

    &__copy {
      font-size: 12px;
      padding: 5px;
    }
  }
}
@media (max-width: 440px) {
  .footer {
    &__copy {
      font-size: 10px;
    }
  }
}
